# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
.venv/
env/
.env/

# IDE - JetBrains / PyCharm
.idea/

# Obsidian
Docs/.obsidian/

# Logs & temp
*.log
*.tmp
